---
---

@import "{{ site.theme }}";


body {
      font-family: 'Roboto', sans-serif;
}

a:hover{
    color: blue;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

.center {
  text-align: center;
}
